/*Different "Theme" colors*/
:root.theme1 {
  --background-color: #ffffff;
  --text-color: #000000;
}

:root.theme2 {
  --background-color: #3824FB;
  --text-color: #8DFF42;
}

:root.theme3 {
  --background-color: #1C1C1C;
  --text-color: #FF4EC9;
}

:root.theme4 {
  --background-color: #E14036;
  --text-color: #D7FFF3;
}

:root.theme5 {
  --background-color: #2A2C4C;
  --text-color: #AB6EB3;
}

/* General styling */
body {
  background-color: var(--background-color);
  font-family: "Pixelify Sans", sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Hamburger Menu */
.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 10;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: var(--text-color);
  transition: all 0.3s ease-in-out;
}

.bar.open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.bar.open:nth-child(2) {
  opacity: 0;
}

.bar.open:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.mobile-nav-links {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 150px;
  left: 10px;
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  border-radius: 5px;
  z-index: 5;
}

.mobile-nav-links a {
  color: var(--text-color);
  text-decoration: none;
  margin: 10px;
  font-size: 1em;
  font-weight: bold;
}

.color-button {
  background-color: var(--background-color);
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none; /* Hide nav links on mobile */
  }

  .hamburger-menu {
    display: flex;
  }

  .mobile-nav-links {
    display: flex;
  }

  .mobile-nav-links.open {
    display: flex;
  }
  
  .hamburger-menu.open .bar {
    background-color: var(--text-color); /* Changes color to white when open */
  }
}

/* Copyright styling */
.copyright {
  text-align: center;
  font-size: 0.8em;
  margin-top: 10px;
}

/* Holy Grail Layout */
.holy-grail {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: space-between;
}

.holy-grail-footer {
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-top: 2px solid var(--text-color);
  color: var(--text-color);
  text-align: center;
  padding: 10px 0;
}

.holy-grail-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Ensure content is centered */
  width: 100%;
  padding: 0; /* Remove padding if it's affecting centering */
  box-sizing: border-box; /* Ensure padding and borders are included in element's width/height */
  min-height: calc(100vh - 125px); /* Ensure it fills the remaining height after navbar */
}


/* Existing styles */
h1, h2, h4, .shuffle-button {
  margin: 0;
  font-family: "Pixelify Sans", sans-serif;
}

/* Text styling */
.text {
  font-weight: 600;
  text-align: center;
  font-size: 2.5em;
  color: var(--text-color);
}

.label {
  text-align: center;
  margin-bottom: 3%;
  font-size: 1em;
  color: var(--text-color);
}

.a, .b, .c {
  text-align: center;
  font-size: 2.5em;
  margin-top: 2%;
  color: var(--text-color);
  text-decoration: underline;
}

.a:hover, .b:hover, .c:hover {
  color: var(--text-color);
}

/* Shuffle button styling */
.shuffle-button {
  display: inline-block;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid var(--text-color);
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-top: 4%;
}

.shuffle-button:hover {
  display: inline-block;
  background-color: var(--text-color);
  color: var(--background-color);
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  transition: box-shadow 0.3s ease;
}

.lock-icon {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.lock-icon img {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 10px;
  width: calc(100% - 40px);
  max-width: none;
}

@media (min-width: 768px) {
  .holy-grail-main {
    justify-content: center;
    /* margin-top: 8%; */
  }

  .holy-grail-header {
    max-width: 400px;
    font-size: 5.2em;
  }

  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    max-width: 1400px;
    padding: 0 20px;
  }

  .item {
    flex: 1;
    max-width: none;
  }

  .label {
    margin-bottom: 10px;
  }
}
