/*Different "Theme" colors*/
:root.theme1 {
  --background-color: #ffffff;
  --text-color: #000000;
}

:root.theme2 {
  --background-color: #3824FB;
  --text-color: #8DFF42;
}

:root.theme3 {
  --background-color: #1C1C1C;
  --text-color: #FF4EC9;
}

:root.theme4 {
  --background-color: #E14036;
  --text-color: #D7FFF3;
}

:root.theme5 {
  --background-color: #2A2C4C;
  --text-color: #AB6EB3;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: sticky;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  margin-top: 125px;
  box-sizing: border-box;
  color: var(--text-color);
}

.copyright {
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 0.9%;
  width: 100%;
}

.navbar-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly; /* Distribute space evenly */
  max-width: 1200px; /* Adjust as needed to fit your layout */
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.nav-links.left {
  justify-content: space-evenly;
}

.nav-links.right {
  justify-content: space-evenly;
}

.nav-links a {
  color: var(--text-color);
  text-decoration: none;
  margin: 0 10px;
  font-size: 1em;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}

.holy-grail-header {
  background-color: var(--text-color);
  color: var(--background-color);
  text-align: center;
  padding: 15px 15px;
  font-size: 3.2em;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 4500;
  width: 33%;
  margin: 0;
}

@media (max-width: 768px) {
  .nav-links {
    display: none; /* Hide nav links on mobile */
  }

  .navbar-container {
    margin-top: 125px;
  }

  .holy-grail-header {
    width: 75%;
  }
}
